.header {
  width: 100%;
  height: 80vh;
  max-height: 1170px;
  background-image: url("../../assets/img/header.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
}

.profile-img {
  width: 150px;
  max-width: 170px;
}

.description-profile {
  color: white;
  line-height: 0.5;
}

.description-profile h1 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0;
}

.description-profile p {
  font-size: 1.2rem;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-shadow {
  position: relative;
  z-index: 999;
  box-shadow: #1111113d 5px 5px 15px;
}

.nav-link {
  font-weight: 400;
}

.nav-link.active,
.nav-link:hover {
  color: #4386df !important;
}

.nav-item::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #4386df;
  display: block;
  margin: 0 auto;
  bottom: 0;
  transition: 0.8s;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-item.active::after {
  width: 100%;
}

.btn-header {
  min-width: 57px;
  padding: 8px 16px;
  border-radius: 100%;
  font-size: 1.5rem;
  color: #4386df;
  background-color: white;
  border: 2px solid #4386df;
  position: absolute;

  animation: btn-header 1s forwards;
}

.btn-header:hover {
  color: white;
  background-color: #4386df;
}

.btn-docs {
  top: 10%;
  right: -30%;
}

.btn-arrow-bottom {
  top: 20%;
  right: 100%;
}

@media (max-width: 768px) {
  .btn-arrow-bottom {
    top: 10%;
    left: -30%;
    animation: btn-header-mobile 1s forwards;
  }
}

@keyframes btn-header {
  100% {
    transform: rotate(360deg);
    right: 10%;
  }
}

@keyframes btn-header-mobile {
  100% {
    transform: rotate(360deg);
    top: 10%;
    left: 10%;
  }
}